GATEWAY_PORT=:9080
USER_SERVICE_URL=http://user-service:9086
LOCATION_SERVICE_URL=http://location-service:9083
MATCHING_SERVICE_URL=http://matching-service:9084
TRIP_SERVICE_URL=http://trip-service:9085
RATING_SERVICE_URL=http://rating-service:9087
