PORT=9080
# MongoDB Atlas connection string (ask team lead for credentials)
MONGODB_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/
DB_NAME=studexdb
USER_SERVICE_URL=http://localhost:9081
DRIVER_SERVICE_URL=http://localhost:9082
